body {
    background-color: #fff;
    height: 2000px;
    font-family: 'Montserrat', sans-serif;

    
}
// Navbar
.bg-custom {
        background-color: #fff;
        color: #000;
        font-family: 'Oleo Script', cursive;
       .navbar-toggler {
           border: 2px solid rgba(0, 0, 0, 0.2);
       }
   
        .navbar-brand {
            
            color:inherit;
            font-size: 32px;

            &:hover {

                color: #888 !important;
            }

        }

        .navbar-nav {
            .nav-link {
                color: inherit;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                &.active {
                    font-weight: bold;
                    color: #000 !important;
                }
                
                &:hover {

                    color: #888 !important;
                }
            }
        }
    }


$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .bg-custom {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        color: #fff;
        transition: .6s;
        &.scroll {
            background: #eee;
            opacity: .9;
            background: linear-gradient(0,0);
            color: #000;
            border-bottom: 4px solid rgba(0, 0, 0, 0.6);

           
                .navbar-nav {
                    .nav-link {
                        &:hover {
                            color: #888 !important;

                        }
                    }
                }

                
            
        }
        .navbar-brand {
            font-family: 'Oleo Script', cursive;
            color: inherit;

            &:hover {
                color: #ddd !important;
            }
        }

        .navbar-nav {
            .nav-link {
                color: inherit;
                border-bottom: 0;
                font-weight: 300;
                margin-right: 20px;
                
                &.active {
                    font-weight: bold;
                    color: inherit !important;
                }

                &:hover {

                    color: #000 !important;
                }
            }
        }
    }
}

// Feature
figure {
    .img-fluid {
        height: 300px;
        margin-bottom: 32px;
    }
}

.btn-more {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    width: 230px;

    &:hover {
        background-color: #888;
        color: #333;
    }
}