body {
    background-color: #fff;
    
    font-family: 'Montserrat', sans-serif;

    
}
// Navbar
.bg-custom {
        background-color: #fff;
        color: #000;
        font-family: 'Oleo Script', cursive;
       .navbar-toggler {
           border: 2px solid rgba(0, 0, 0, 0.2);
       }
   
        .navbar-brand {
            
            color:inherit;
            font-size: 32px;

            &:hover {

                color: #888 !important;
            }

        }

        .navbar-nav {
            .nav-link {
                color: inherit;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                &.active {
                    font-weight: bold;
                    color: #000 !important;
                }
                
                &:hover {

                    color: #888 !important;
                }
            }
        }
    }


$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .bg-custom {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        color: #fff;
        transition: .6s;
        &.scroll {
            background: #eee;
            opacity: .9;
            background: linear-gradient(0,0);
            color: #000;
            border-bottom: 4px solid rgba(0, 0, 0, 0.6);

           
                .navbar-nav {
                    .nav-link {
                        &:hover {
                            color: #888 !important;

                        }
                    }
                }

                
            
        }
        .navbar-brand {
            font-family: 'Oleo Script', cursive;
            color: inherit;

            &:hover {
                color: #ddd !important;
            }
        }

        .navbar-nav {
            .nav-link {
                color: inherit;
                border-bottom: 0;
                font-weight: 300;
                margin-right: 20px;
                
                &.active {
                    font-weight: bold;
                    color: inherit !important;
                }

                &:hover {

                    color: #000 !important;
                }
            }
        }
    }
}

// Feature
#feature   {
    padding-bottom: 62px;
    padding-top: 50px;
    figure {
        .img-fluid {
            height: 300px;
            margin-bottom: 32px;
        }
    }
    
    .btn-more {
        background-color: #333;
        color: #fff;
        font-size: 20px;
        width: 230px;
        
        &:hover {
            background-color: #888;
            color: #333;
        }
    }
}

#coming {
    overflow: hidden;
    background-image: url("../asset/image/coming.png");
    height: 500px;
    width: 100%;
    padding-top: 225px;
    padding-bottom: 32px;

    .btn-coming {
        background-color: #000;
        color: #fff;
        width: 460px;
        font-size: 28px;
    }
}

#footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #222;
    color: #eee;
    h5 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }
    .logo {
        width: 35px;
        margin-right: 16px;
    }
    .btn-sub {
        background-color: #eee;
        color: #222;

        &:hover {
            background-color: #666;
            color: #eee;
        }
    }

    a {
        color: white;
        font-size: 12px;
    }

    .copy {
        font-size: 12px;
    }
}

// halaman single product 

#single-product {
    padding-top: 200px;
}
.product-thumbnail-container {
    background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 8px;
  margin: auto;
  transform: translateY(-50px);
}

.single-thumbnail {
    width: 50px;
}

.btn-buy {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    width: 230px;
    
    &:hover {
        background-color: #888;
        color: #333;
    }
}