body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.bg-custom {
  background-color: #fff;
  color: #000;
  font-family: 'Oleo Script', cursive;
}

.bg-custom .navbar-toggler {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.bg-custom .navbar-brand {
  color: inherit;
  font-size: 32px;
}

.bg-custom .navbar-brand:hover {
  color: #888 !important;
}

.bg-custom .navbar-nav .nav-link {
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.bg-custom .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #000 !important;
}

.bg-custom .navbar-nav .nav-link:hover {
  color: #888 !important;
}

@media (min-width: 768px) {
  .bg-custom {
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .bg-custom.scroll {
    background: #eee;
    opacity: .9;
    background: -webkit-gradient(linear, left top, left bottom, from(0), to(0));
    background: linear-gradient(0, 0);
    color: #000;
    border-bottom: 4px solid rgba(0, 0, 0, 0.6);
  }
  .bg-custom.scroll .navbar-nav .nav-link:hover {
    color: #888 !important;
  }
  .bg-custom .navbar-brand {
    font-family: 'Oleo Script', cursive;
    color: inherit;
  }
  .bg-custom .navbar-brand:hover {
    color: #ddd !important;
  }
  .bg-custom .navbar-nav .nav-link {
    color: inherit;
    border-bottom: 0;
    font-weight: 300;
    margin-right: 20px;
  }
  .bg-custom .navbar-nav .nav-link.active {
    font-weight: bold;
    color: inherit !important;
  }
  .bg-custom .navbar-nav .nav-link:hover {
    color: #000 !important;
  }
}

#feature {
  padding-bottom: 62px;
  padding-top: 50px;
}

#feature figure .img-fluid {
  height: 300px;
  margin-bottom: 32px;
}

#feature .btn-more {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  width: 230px;
}

#feature .btn-more:hover {
  background-color: #888;
  color: #333;
}

#coming {
  overflow: hidden;
  background-image: url("../asset/image/coming.png");
  height: 500px;
  width: 100%;
  padding-top: 225px;
  padding-bottom: 32px;
}

#coming .btn-coming {
  background-color: #000;
  color: #fff;
  width: 460px;
  font-size: 28px;
}

#footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #222;
  color: #eee;
}

#footer h5 {
  font-size: 18px;
}

#footer p {
  font-size: 12px;
}

#footer .logo {
  width: 35px;
  margin-right: 16px;
}

#footer .btn-sub {
  background-color: #eee;
  color: #222;
}

#footer .btn-sub:hover {
  background-color: #666;
  color: #eee;
}

#footer a {
  color: white;
  font-size: 12px;
}

#footer .copy {
  font-size: 12px;
}

#single-product {
  padding-top: 200px;
}

.product-thumbnail-container {
  background-color: white;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 8px;
  margin: auto;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.single-thumbnail {
  width: 50px;
}

.btn-buy {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  width: 230px;
}

.btn-buy:hover {
  background-color: #888;
  color: #333;
}
/*# sourceMappingURL=main.css.map */